<h2 class="agreement-header" style="margin-top:0;padding-top:0">Part I</h2>
<ul><li><h4 class="agreement-section">Competency Profile</h4></li></ul>
<h5 class="agreement-setion-title">Employee :</h5>
<p class="agrement-section-content">
During planning, please understand your competency profiles and your direct supervising manager's expectations of your profiles.
</p>
<p class="agrement-section-content">
During tracking, please note critical events and collect behavior evidences that you have demonstrated the <br/> competencies for discussions later.
</p>
<p class="agrement-section-content">
During appraising, do self-rating and participate actively in appraisal discussions and commit to better<br/> performance next year.
<h5 class="agreement-setion-title">Direct Supervisor :</h5>
<p class="agrement-section-content">
During planning, please explain employee's competency profiles and inform your expectations on what you<br/> wish to see more.
</p>
<p class="agrement-section-content">
During tracking, please note critical events that employee has demonstrated the competencies for<br/> discussion later.
</p>
<p class="agrement-section-content">
During appraising, please assess and rate employee's competencies based on behavioral evidences.<br/>  Conduct appraisal discussions to guide employee to improve for next year.
</p>
<h2 class="agreement-header">Part II</h2>
<ul><li><h4 class="agreement-section">Individual KPIs</h4></li></ul>
<h5 class="agreement-setion-title">Employee:</h5>
<p class="agrement-section-content">
During planning, please list all objectives agreed at the start of the FY with your Direct Supervising Manager.<br/>  All objectives must support the achievement of Department Goals.  All objectives must have quantified <br/>targets or expected measures of success  - % or $ or # or Timing.
</p>
<p class="agrement-section-content">
During tracking, please self track own progress and provide feedback with evidence and seek support where<br/> necessary.
</p>
<p class="agrement-section-content">
During appraising, do self-rating and participate actively in appraisal discussions and commit to better<br/> performance next year.
</p>
<h5 class="agreement-setion-title">Direct Supervisor:</h5>
<p class="agrement-section-content">
During planning, please discuss, guide and approve all employee's individual objectives.
</p>
<p class="agrement-section-content">
During tracking, please track employee's performance progress and provide feedback and support where<br/> necessary.
</p>
<p class="agrement-section-content">
During appraising, please assess and rate employee's performance based on results attained. Conduct<br/> appraisal discussions to guide employee to improve for next year.

