<!-- Apprisee Detail -->
<div ng-controller="pmformTab1Controller" class="pmform-content-body" >
<div class="panel"> 
 <div class="panel-heading">
  <div class="panel-control">
    
         <span class="bold-text">PM Status:</span>
     <span class="label label-btn label-success " style="margin-right:30px">New</span>
     <a href="javascript:void(0)" class="label label-btn label-default " style="margin-right:30px" ng-click="displayAgreementModal()">View Terms Of Use</a>
    
      <button type="button" class="btn btn-purple" ng-hide="isWizardMode()">Save</button>
        <button type="button" class="btn btn-primary" ng-hide="isWizardMode()">Close</button>
        <button type="button" class="btn btn-info" ng-hide="isWizardMode()">Export PDF</button>
      <button type="button" name="button" class="btn btn-default"
              data-target="#ad-panel-collapse-1a" data-toggle="collapse"
              aria-expanded="true">
        <i class="fa fa-chevron-down"></i>
      </button>
      </div>
 
   
   
    <h4 class="panel-title">Appraisee's Detail</h4>
  
    
    </div>

  <div id="ad-panel-collapse-1a" class="collapse in" aria-expanded="true">
    <div class="panel-body">
      <div class="form-horizontal col-sm-11">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Performance Appraisals </label>
          <div class="col-sm-9">
          <input type="text" name="" value="{{formData.appraiseeDetail.performance_appraisal}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" name="" value="{{formData.appraiseeDetail.name}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Employee ID</label>
          <div class="col-sm-9">
            <input type="text" name="" value="{{formData.appraiseeDetail.employee_id}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Designation/Department</label>
          <div class="col-sm-9">
            <input type="text" name="" value="{{formData.appraiseeDetail.department}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Job Grade</label>
          <div class="col-sm-9">
            <input type="text" name="" value="{{formData.appraiseeDetail.grade}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Job Band</label>
          <div class="col-sm-9">
            <input type="text" name="" value="{{formData.appraiseeDetail.completency_behavior_level}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Date Joined</label>
          <div class="col-sm-9">
            <input type="text" name="" value="{{formData.appraiseeDetail.date_joined | date : 'dd-MMM-yyyy'}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Supervisor</label>
          <div class="col-sm-9">
            <input type="text" name="" value="{{formData.appraiseeDetail.supervisor}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Counter-signing Supervisor</label>
          <div class="col-sm-9">
            <input type="text" name=""value="{{formData.appraiseeDetail.counter_siging_supervisor}}" class="form-control input-sm" disabled="disabled"></input>
          </div>
        </div>
        <!-- ./form-group -->
      </div>
    </div>
  </div>
</div>
<!-- Apprisee Focus -->
<div class="panel">
  <div class="panel-heading">
    <div class="panel-control">
      <button type="button" name="button" class="btn btn-default"
              data-target="#af-panel-collapse-1b" data-toggle="collapse"
              aria-expanded="true">
        <i class="fa fa-chevron-down"></i>
      </button>
    </div>
    <h4 class="panel-title">Appraisal's Focus</h4>
  </div>
  <div id="af-panel-collapse-1b" class="collapse in" aria-expanded="true">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
           <div class="left-content-title clearfix">
          <div class="col-md-12 left-content-body">
            <span class="bold-text">Weightage (%) by Job Band</span>
          </div>
            <table class="table">
              <thead>
                <tr>
                  <th rowspan="2" >Job Band</th>
                  <th colspan="1" rowspan="1">Part I</th>
                  <th colspan="2" rowspan="1">Part II</th>
                </tr>
                <tr>
                    <th class="border-right">Competency</th>
                    <th>PD</th>
                    <th>Ind.KPIs</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-class-odd="'odd'" ng-repeat="item in formData.weightageByJobBand">
                  <td>{{item.job_band}}</td>
                  <td class="text-right">{{item.completency || "-"}}</td>
                  <td class="text-right">{{item.pd || "-"}}</td>
                  <td class="text-right">{{item.individual_kpis || "-"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-content-title clearfix">

            <div class="col-md-12 left-content-body" style="padding-top:35px">
            <span class="bold-text">Rating Scale</span>
              <table class="table">
                <thead>
                  <tr>
                    <th>Rating</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  ng-class-odd="'odd'" ng-repeat="rate in formData.ratingScale">
                    <td class="text-center">{{rate.rating | number: 1}}</td>
                    <td>{{rate.definition}}</td>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div></div>
