<div class="panel panel-default" ng-controller="pmWizardController">
<div class="panel-header">
    <h4 class="panel-title"></h4>
</div>
  <div class="panel-body">
    <div class="alert alert-success fade in">
			<strong>Well done!</strong> You successfully create PM Form.
		</div>
 
  <div class="text-center">
  
   <a  href="javascript:void(0)"  class="btn btn-primary" ng-click="successOkClick()">OK</a>
   <!--<a href="#/noticeNewPM" class="btn btn-purple btn-labeled fa fa-plus">New PM Form</a>-->

  </div>
  </div>
</div>
